################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/NETCore.Extensions.Excel/obj
/src/NETCore.Extensions.Excel/bin
/.vs
/testExcel
